html {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    text-align: center;
}

.recipe-atf {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
}

.recipe-info {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.recipe-info-down {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 40px 20px 80px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
}

.recipes-icon {
    height: 15px;
    width: 15px;
    margin: 10px;
    margin-left: 0;
}

.ingredients {
    height: 500px;
    width: 80%;
    border-spacing: 0;
}

.grey-deposit {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


.userpic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.recipe-author {
    display: flex;
    align-items: center;
}