html {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    margin-block: 0;
    margin-top: 24px;
}

.recipe-atf {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
}

.recipe-info {
    display: flex;
    margin-top: 20px;
}

.recipe-info-down {
    background-color: rgb(239,239,239);
    margin: 0 24px 40px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
}

.recipes-icon {
    height: 15px;
    width: 15px;
    margin: 10px;
    margin-left: 0;
}

.border-line {
    border-bottom: 2px solid rgb(239,239,239);
    margin-top: 40px;
}

.ingredients {
    height: 500px;
    width: 100%;
    border-spacing: 0;
}

td:first-child , td:nth-child(2) {
    width: 80px;
}

.grey-deposit {
    background-color: rgb(239,239,239);
    border-radius: 20px;
}
.calc-con{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.calc-input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: rgb(239,239,239);
    width: 200px;
    height: 32px;
    margin-left: 20px;
    font-size: 20px;
}

.button {
    font-size: 16px;
    padding: 12px 64px;
    background-color: green;
    color: white;
    border: none;
}

.userpic {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin-right: 20px;
}

.recipe-author {
    display: flex;
    align-items: center;
}


