html,
body {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 36px;
    margin-top: 64px;
    margin-bottom: 32px;
    font-weight: 600;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.header-inner {
    max-width: 1920px;
    margin: 0 auto;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 24px;
}

.header-inner img {
    height: 100px;
    padding-bottom: 10px;
}

button {
    background-color: #008000;
    color: white;
    border: none;
    padding: 0 30px;
    font-size: 18px;
    cursor: pointer;
}

.page {
    flex: 1;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

.quicklinks {
    list-style-type: none;
    display: flex;
    margin-bottom: 4px;
}

.quicklinks li {
    margin-left: 24px;
}

.quicklinks a {
    text-decoration: none;
    color: black;
}

.quicklinks a:hover {
    text-decoration: underline solid 20%;
    color: green;
    font-weight: bold;
    text-underline-offset: 8px;
}

.site-footer {
    width: 100%;
    background-color: #403B3B;
    color: #ffffff;
    margin-top: 60px;
    padding: 30px 0;
}

.footer-inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-inner div img {
    height: 45px;
    opacity: 0.9;
    display: flex;
    align-items: center;
}

.footer-nav {
    display: flex;
    gap: 42px;
}

.footer_links {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.footer_links:hover {
    opacity: 1;
}