html {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-size: 36px;
    margin-top: 64px;
    margin-bottom: 32px;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
}

.header img {
    height: 80px;
    padding-bottom: 12px;
}

button {
    background-color: #008000;
    color: white;
    border: none;
    padding: 0 30px;
    font-size: 18px;
    cursor: pointer;
}

.page {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.line {
    height: 1px;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(123, 123, 130, 0.9);
}

.quicklinks {
    list-style-type: none;
    display: flex;
    margin-bottom: 4px;
}

.quicklinks li {
    margin-left: 24px;
}

.quicklinks a {
    text-decoration: none;
    color: black;
}

.quicklinks a:hover {
    text-decoration: underline solid 20%;
    color: green;
    font-weight: bold;
    text-underline-offset: 8px;
}

.footer {
    background-color: #403B3B;
    height: 250px;
    margin-top: 64px;
}