body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  align-items: center;
display: flex;
flex-direction: column;
}


.contact_container {
background-color: rgb(220, 220, 220);
border-radius: 10px;
padding: 0px 10px 10px 10px;
 width: 455px;
    height: 570px;
    
    box-sizing: border-box;  

}

input {
    height: 25px;
}

form label {
    display: flex;          
    flex-direction: column; 
    padding-bottom: 20px;
}

form label:first-of-type {
   padding-top: 23px;
}

form label:first-of-type {
    padding-bottom: 20px;
}

form textarea {
    resize: none;
    height: 245px;
}



a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #4caf50;
  padding: 10px 20px;
  border-radius: 5px;
}
a:hover {
background-color: rgba(0, 125, 0, 0.8);
}

#submit_btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  
}

.btn_container {
text-align: center;
}
