.contact_container {
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 0px 10px 10px 10px;
  width: 455px;
  height: 570px;

  box-sizing: border-box;

}

.flex-jc {
  display: flex;
  justify-content: center;
  margin-top: 60px !important;
}

input {
  height: 25px;
  border-radius: 8px;
  border-color: white;
}

form label {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

form label:first-of-type {
  padding-top: 23px;
}

form label:first-of-type {
  padding-bottom: 20px;
}

form textarea {
  resize: none;
  height: 245px;
  border-radius: 8px;
  border-color: white;
}

.btn_container {
  text-align: center;
}