@font-face {
  font-family: "Raleway";
  src: url(./fonts/raleway-v37-latin/raleway-v37-latin-200.woff2)
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/raleway-v37-latin/raleway-v37-latin-regular.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/raleway-v37-latin/raleway-v37-latin-500.woff2)
    format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/raleway-v37-latin/raleway-v37-latin-600.woff2)
    format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/raleway-v37-latin/raleway-v37-latin-700.woff2)
    format("woff2");
  font-weight: bold;
  font-style: normal;
}

body,
div,
span,
p,
main {
  cursor: default;
}

input[type="text"],
input[type="number"],
textarea {
  cursor: text;
}

button,
a {
  cursor: pointer;
}

/*deaktiviert pfeile in input feld*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;

  width: 215px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 43px;
  font-size: 18px;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 18px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  font-weight: 600;
}
h2,
h3 {
  font-weight: 600;
}
.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: border-box;
}
.container {
  padding-top: 70px;
}
.container h1 {
  margin-bottom: 25px;
}
header {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 10%);
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
nav a:hover {
  text-decoration: underline;
  color: rgb(55 126 34);
  text-decoration-color: rgb(55 126 34);
  text-decoration-thickness: 3px;
  text-underline-offset: 11px;
}

.meal_image {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 25px;
}

.meta {
  border-radius: 10px;
  background-color: rgba(239, 239, 239);
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 8px;
}

.recipe_meta img,
.preparation_meta img {
  height: 15px;
  width: 15px;
}
.recipe_meta,
.preparation_meta {
  display: flex;
  gap: 25px;
  padding: 0px;
}

.separator {
  margin-top: 70px;
  background-color: rgba(239, 239, 239);
  height: 2px;
  border: none;
  margin-bottom: 18px;
}

.preparation_steps {
  margin-top: 40px;
  margin-bottom: 55px;
}
.recipe_author {
  display: flex;
  align-items: center;
  gap: 35px;
}

.recipe_author img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.profile_name {
  font-size: 35px;
}

footer {
  width: 100%;
  background-color: rgb(63, 59, 59);
  height: 350px;
  margin-top: 160px;
}

#portion_button {
  background-color: rgb(55, 126, 34);
  width: 157px;
  border: none;
  height: 47px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  left: 194px;
  position: absolute;
  font-size: 18px;
  cursor: pointer;
}

#portion_button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #444 inset;
}

.portion_calculator {
  position: relative;
  display: inline-block;
}
.portion_container {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: default;
}

.ingredient_list {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 40px;
}

.ingredient_list li {
  padding-left: 40px;
  height: 58px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.ingredient_list li:nth-child(odd) {
  background-color: rgb(239, 239, 239);
}
