body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 18px;
  scroll-behavior: smooth;
}



.container {
  margin-top: 54px;
}

.container h1 {
  margin-bottom: 25px;
}

.meal_image {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 25px;
}

.recipe_meta img,
.preparation_meta img {
  height: 15px;
  width: 15px;
}

.recipe_meta,
.preparation_meta {
  display: flex;
  gap: 25px;
  padding: 0px;
}

.meta {
  border-radius: 10px;
  background-color: rgba(239, 239, 239);
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 8px;
}

.separator {
  margin-top: 70px;
  background-color: rgba(239, 239, 239);
  height: 2px;
  border: none;
  margin-bottom: 18px;
}

.portion_container {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: default;
  margin-bottom: 18px;

}

.portion_container span {
  font-size: 20px;
}

.portion_calculator {
  display: flex;
  border: 2px solid #ccc;
  height: 45px;
  border-radius: 10px;
  overflow: hidden;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  font-size: 16px;
  display: flex;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 7px;
  width: 170px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="number"],
textarea {
  cursor: text;
}



#portion_button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #444 inset;
}

button,
a {
  cursor: pointer;
}

body,
div,
span,
p,
main {
  cursor: default;
}

.ingredients_table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0px;
}

.ingredients_table td {
  padding: 20px;
  font-size: 20px;
}

.ingredients_table td.amount {
  width: 32px;
  font-weight: 500;
}

.ingredients_table tr td:first-child {
  width: 70px;
  padding-right: 0;
  white-space: nowrap;
  border-radius: 10px 0 0 10px;
  padding-left: 38px;
}


.ingredients_table tr td:last-child {
  border-radius: 0 10px 10px 0;
  padding-left: 0px;
}

.ingredients_table tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

.ingredients_table tr:nth-child(even) td {
  background-color: #ffffff;
}

.recipe_preparation {
  margin-top: 54px;
}

.preparation_steps {
  margin-top: 40px;
  margin-bottom: 55px;
}

.recipe_author {
  display: flex;
  align-items: center;
  gap: 35px;
}

.recipe_author img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.profile_name {
  font-size: 35px;
}



@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  .recipe_meta {
    flex-direction: column;
    gap: 12px;
  }

  .meta {
    gap: 8px;
    padding: 6px 14px;


    font-size: 16px;
    width: 115px;
  }

  .recipe_meta img {
    width: 16px;
    height: 16px;
  }

  .portion_container {
    font-size: 16px;
    gap: 10px;
  }


  .portion_calculator {
    position: static;
  }

  .preparation_meta {
    flex-direction: column;
    gap: 12px;
  }

  #portion_button {
    width: 128px;
    left: 176px;
  }

  #portionInput {
    width: 85px;
  }
}